/*********  WellSky standard typography has been defined in Atlas. 
            In order to overwrite the defined typography,
            uncomment the below code and update the values accordingly *********/

// @import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i');
// //Defining custom fonts
// $model-typography: mat-typography-config(
//   $font-family: 'Roboto',
//   $display-4: mat-typography-level(112px, 112px, 300),
//   $display-3: mat-typography-level(56px, 56px, 400),
//   $display-2: mat-typography-level(45px, 48px, 400),
//   $display-1: mat-typography-level(34px, 40px, 400),
//   $headline: mat-typography-level(24px, 32px, 400),
//   $title: mat-typography-level(22px, 32px, 500),
//   $subheading-2: mat-typography-level(16px, 24px, 500),
//   $subheading-1: mat-typography-level(15px, 24px, 400),
//   $body-2: mat-typography-level(14px, 24px, 500),
//   $body-1: mat-typography-level(14px, 24px, 400),
//   $caption: mat-typography-level(12px, 20px, 400),
//   $button: mat-typography-level(14px, 16px, 400), 
//   // Line-height must be unit-less fraction of the font-size.
//   $input: mat-typography-level(inherit, 1.125, 400)
// );

// @include angular-material-typography($model-typography);

/*********
    To utilize the values of the custom typography, you can do it as below.
    (e.g)  
        font-size: mat-font-size($model-typography, title);
        font-weight: mat-font-weight($model-typography, body-2);
        line-height: mat-line-height($model-typography, display-2);
*********/