<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div class="body">

  <form [formGroup]="profile">
    <h5>apple form</h5>

    <atlas-chip-list (removed)="chipRemoved($event)">
      <atlas-chip image="control_camera" [removable]="true">
        Enabled
      </atlas-chip>
      <atlas-chip
        image="./assets/images/develop/components/chips/wellsky_crown.svg"
        selected
        [removable]="true">
        Active
      </atlas-chip>
    </atlas-chip-list>

  </form>

  <button
    style="margin-top: 50px"
    (click)="submit()"
    class="mr-2 text-uppercase"
    atlas-contained-button
    color="accent"
  >Add ccontact</button>

</div>
