  <mat-form-field class="w-100" [appearance]="fieldAppearance" [floatLabel]="floatLabel"
    [hideRequiredMarker]="hideRequiredMarker" [color]="color">
    <!-- label -->
    <mat-label>
      <span *ngIf="label">{{label}}</span>
      <ng-content *ngIf="!label" select="[label]"></ng-content>
    </mat-label>

    <!-- select -->
    <!-- Select with multiple -->
    <mat-select
      *ngIf="multiple"
      [id]="id"
      [formControl]="selectControl"
      [disableOptionCentering]="disableOptionCentering"
      [disableRipple]='disableRipple'
      (openedChange)="isPanelToggled($event)"
      [aria-label]="ariaLabel"
      [aria-labelledby]="ariaLabelledby">

      <ng-container *ngFor="let element of dataSource" [ngSwitch]="isItemGroup(element)">
        <mat-optgroup *ngSwitchCase="'group'" [label]="element.label" [disabled]="element.disabled">
          <mat-option *ngFor="let option of element.value" [value]="option.value" [disabled]="option.disabled">
            {{option.label}}
          </mat-option>
        </mat-optgroup>

        <mat-option *ngSwitchCase="'option'" [value]="element.value" [disabled]="element.disabled">
          {{element.label}}
        </mat-option>
      </ng-container>
    </mat-select>

    <!-- Select without multiple -->
    <mat-select
      *ngIf="!multiple"
      [id]="id"
      [formControl]="selectControl"
      [disableOptionCentering]="disableOptionCentering"
      [disableRipple]='disableRipple'
      [aria-label]="ariaLabel"
      (openedChange)="isPanelToggled($event)"
      [aria-labelledby]="ariaLabelledby">

      <mat-option *ngIf="default">{{default}}</mat-option>
      <ng-container *ngFor="let element of dataSource" [ngSwitch]="isItemGroup(element)">
        <mat-optgroup *ngSwitchCase="'group'" [label]="element.label" [disabled]="element.disabled">
          <mat-option *ngFor="let option of element.value" [value]="option.value" [disabled]="option.disabled">
            {{option.label}}
          </mat-option>
        </mat-optgroup>

        <mat-option *ngSwitchCase="'option'" [value]="element.value" [disabled]="element.disabled">
          {{element.label}}
        </mat-option>
      </ng-container>
    </mat-select>

    <!-- label prefix -->
    <span matPrefix>
      <ng-content select="[input-prefix]"></ng-content>
    </span>

    <!-- label suffix -->
    <span matSuffix>
      <ng-content select="[input-suffix]"></ng-content>
    </span>

    <!-- FIXME: ExpressionChangedAfterItHasBeenCheckedError: Expression has changed after it was checked. Previous value: 'aria-describedby: null'. Current value: 'aria-describedby: mat-hint-0'. -->
    <!-- hints -->
    <!-- <mat-hint [ngSwitch]="hintStart" align="start">
      <span *ngSwitchCase="true">{{hintStart}}</span>
      <ng-content *ngSwitchCase="false" select="[hint-start]"></ng-content>
    </mat-hint> -->
    <!-- <mat-hint align="end">
      <span *ngShow="hintEnd">{{hintEnd}}</span>
      <ng-content *ngShow="!hintEnd" select="[hint-end]"></ng-content>
    </mat-hint> -->

    <!-- errors -->
    <mat-error>
      <div *ngIf="selectControl.invalid">
        <span>{{errorMessage}}</span>
        <mat-icon class="float-right">warning</mat-icon>
      </div>
    </mat-error>

  </mat-form-field>
