<router-outlet></router-outlet>

<div class="body">
    <h5>apple form</h5>

  <form [formGroup]="form">

    <atlas-radio-group
      formControlName="radio"
      name="formControlExample"
      (change)="selectedOption($event)">
      <atlas-radio-button
              value="true"
              labelPosition="after"
              class="d-block"
              name="formControlExample">
              Option 1
      </atlas-radio-button>
      <atlas-radio-button
              value="false"
              labelPosition="after"
              class="d-block"
              name="formControlExample">
              Option 2
      </atlas-radio-button>
    </atlas-radio-group>

  </form>


  <button
    (click)="submit()"
    class="mr-2 text-uppercase"
    atlas-contained-button
    color="accent"
  >Add ccontact</button>


</div>


