@mixin model-header-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .mat-toolbar.model-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    height: 78px;
    background-color: mat-color($background, card);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
  }
  .mat-toolbar.login-header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    height: 78px;
    background-color: rgba(255, 255, 255, 0.7019607843137254);
  }

  .navbar-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 2;
    height: 78px;    
    & a {
      outline: none;
    }
    & .model-nav-items {
      color: mat-color($ws-blue, 500);
      background: $white;
    }
    & .mat-tab-nav-bar {
      & a {
        &:hover {
          color: mat-color($ws-blue, 500);
        }
      }
    }
  }
}
