<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="body">

  <form [formGroup]="profile">
    <h5>apple form</h5>

    <atlas-chip-list
      (removed)="chipRemoved($event)">
      <atlas-chip
        *ngFor="let fruit of fruits"
        [selected]="fruit.selected"
        [selectable]="true"
        [removable]="true"
        (click)="clickEvent(fruit.id)"
        (selectionChange)="changeSelected($event)"
        (removed)="remove(fruit)">
        {{fruit.name}}
      </atlas-chip>
    </atlas-chip-list>

  </form>

  <button
    style="margin-top: 50px"
    (click)="submit()"
    class="mr-2 text-uppercase"
    mat-contained-button
    color="accent"
  >ignore</button>

</div>

