.drawer-frame-root {
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    flex: auto;
}

.drawer-frame-aside {
    & .mdc-list {
        // @include mdc-list-item-primary-text-ink-color($bar-ink-color);
        // @include mdc-list-item-graphic-ink-color($bar-ink-color);
        // @include mdc-list-item-meta-ink-color($bar-ink-color);

        & .mdc-list-item,
        .mdc-list-item--activated {
            color: inherit;
        }
    }
}

.drawer-frame-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
}

.drawer-main-content {
    overflow: auto;
    height: 100%;
    padding: 0 18px;
    flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    -ms-flex-align: center;
}

.drawer-background {
    background: url('../images/background/WS_bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.drawer-top-app-bar {
    // @include mdc-top-app-bar-ink-color($bar-ink-color);
    // @include mdc-top-app-bar-icon-ink-color($bar-ink-color);
    // @include mdc-top-app-bar-fill-color($bar-color);
    position: absolute;
    border-bottom: 1px solid #C4C4C4;

    & .mdc-button {
        color: inherit;
    }
}