<!-- Input Timepicker -->
<mat-form-field *ngIf="!dropdown" [ngClass]="{'mr-4 ws-input-width': isMeridian, 'w-100': !isMeridian}"
  [appearance]="fieldAppearance" [floatLabel]="floatLabel" [hideRequiredMarker]="hideRequiredMarker" [color]="color">

  <!-- label -->
  <span #contentLabel hidden (cdkObserveContent)="labelContentChanged()">
    <ng-content select="[label]"></ng-content>
  </span>

  <mat-label *ngIf="label.length">
    {{label}}
  </mat-label>

  <mat-label #labelContentData *ngIf="contentLabel.children.length"></mat-label>

  <!-- input -->
  <input matInput #matInput [formControl]="time" [placeholder]="placeholder" [required]="required">

  <!-- errors -->
  <mat-error>
    <span>{{errorMessage}}</span>
    <mat-icon class="float-right">warning</mat-icon>
  </mat-error>
</mat-form-field>
<mat-form-field class="ws-meridian-width" *ngIf="isMeridian && !dropdown" [appearance]="fieldAppearance"
  [floatLabel]="floatLabel" [hideRequiredMarker]="hideRequiredMarker" [color]="color">
  <mat-label>AM / PM</mat-label>
  <mat-select [formControl]="meridian" [required]="required" [disableOptionCentering]="disableOptionCentering"
    (openedChange)="isPanelToggled($event)">
    <mat-option value="AM">
      AM
    </mat-option>
    <mat-option value="PM">
      PM
    </mat-option>
  </mat-select>

  <!-- errors -->
  <mat-error>
    <span>{{meridianErrorMessage}}</span>
    <mat-icon class="float-right">warning</mat-icon>
  </mat-error>

</mat-form-field>
<!-- Dropdown Timepicker  -->
<mat-form-field class="w-100" *ngIf="dropdown" [appearance]="fieldAppearance" [floatLabel]="floatLabel"
  [hideRequiredMarker]="hideRequiredMarker" [color]="color">
  <mat-label>
    <span *ngIf="label.length">{{label}}</span>
    <ng-content *ngIf="!label.length" select="[label]"></ng-content>
  </mat-label>
  <mat-select [formControl]="dropdownTime" [disableOptionCentering]="disableOptionCentering"
    (openedChange)="isPanelToggled($event)" [required]="required" [placeholder]="placeholder">
    <mat-option *ngFor="let time of timepickerDropdown" [value]="time">
      {{time}}
    </mat-option>
  </mat-select>
  <!-- errors -->
  <mat-error *ngIf="dropdownTime.invalid">
    <span>{{errorMessage}}</span>
    <mat-icon class="float-right">warning</mat-icon>
  </mat-error>
</mat-form-field>